* {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gainsboro;
}

.contentArea {
    background-color: white;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.header {
    height: 35%;
    width: 100%;
}

.header img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    filter: brightness(70%);
}

.header span {
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 50px;
    margin-left: 10px;    
    font-family: 'Merriweather', serif;
}

.mainInfo {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
}

.toDoBlock {
    width: 100%;
    height: 10%;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.addButton {
    color: green;
    width: 10%;
}

.deleteButton {
    color: crimson;
    width: 10%;
    opacity: 0;
    transition: ease-in-out all 0.3s;
}

.deleteButton, .addButton {
    outline: none;
    border: none;
    background-color: white;
    height: 100%;
    font-size: 30px;
}

.deleteButton:hover, .addButton:hover {
    cursor: pointer;
}

#field {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    margin-left: 10%;
}

#field:focus{
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.25);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.footer button {
    background-color: white;
    color: grey;
    font-size: 30px;
    height: 70%;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
}

.footer button:hover {
    cursor: pointer;
}

.li {
    display: relative;
    list-style-type: none;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: gainsboro;
    margin-top: 5px;
    margin-right: 10%;
}


#list {
    width: 100%;
    height: 100%;
}

.toDo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.toDo:hover .deleteButton, li:hover {
    cursor: pointer;
    opacity: 1;
}

.completedTasks {
    text-decoration: line-through;
    background: linear-gradient(90deg, rgba(55,134,51,1) 0%, rgba(30,199,21,1) 53%, rgba(55,134,51,1) 100%);
    color: black;
    font-family: 'Merriweather', serif;
    display: relative;
    list-style-type: none;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: gainsboro;
    margin-top: 5px;
    margin-right: 10%;

}

@media only screen and (max-width: 700px) {
    .contentArea {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }

    .header img {
        border-radius: 0%;
    }

    .deleteButton {
        opacity: 1;
    }
}

